.MessageBox{data: {message: {id: message.id}}}
  .chatUser
    .nameLine
      = message.user.name
    .timeLine
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messegeZone
    - if message.content.present?
      %p.content
        = message.content
    = image_tag message.image.url, class: 'image' if message.image.present?