.side_bar
  .side_menu
    .side_topics
      .user_name
        = current_user.name
      .icons
        .icon1
          =link_to "#", class: 'icon_1st'  do
            = icon('fas','edit')
        .icon2
          =link_to edit_user_path(current_user), class: 'icon_2nd' do
          
            = icon('fas','cog')
            
  .main
    .right
      .group_list
        .group_list__name
          teckcamp
        .group_list__messege
          メッセージはまだありません