.side_bar
  .side_menu
    .side_topics
      .user_name ここにユーザー名
      .icons
        .icon1
          =link_to "#" do
            = icon('fas','edit')
        .icon2
          =link_to "#" do
            = icon('fas','cog')
            
  .main
    .group_list
      .gloup_list__name あ
      .gloup_list__messege い
