* {
    box-sizing: border-box;
  }

.wrapper{
    height: 100vh;
    display: flex;
}    

.side_bar{
    height: 100vh;
    width: 300px;
    background-color: #253141;
}

.side_menu{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_topics{
    width: 260px;
    display: flex;
    justify-content: space-between;
    &__icons{
        display: flex;
    }
}

.user_name{
    font-size: 16px;
    color: #ffffff;
}

.icons{
    display: flex;
    justify-content: flex-end;
    width: 60px;
    
}

.icon_1st{
    margin-right: 5px;
    color: #ffffff;
}

.icon_2nd{
    color: #ffffff;
}

.main{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
}

.groupStyle{
    text-decoration: none;
}

.group_list{
    padding: 20px 0 40px;
    
    &__name{  
        color: #fafafa;
        font-size: 15px;
    }

    &__messege{
        color: #fafafa;
        font-size: 11px;
        margin-top: 5px;
    }
}

.main_chat{
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: #ffffff;
}        
.top_bar{
        height: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
}

.group_bar{
    font-size: 20px;
}

.groupName{
    color: #333333;
    font-size: 20px;
    margin: 35px 0 15px 40px;
}

.memberList{
    display: flex;
}

.putMember{
    color: #999999;
    font-size: 12px;
}

.userName{
    color: #999999;
    font-size: 12px;
    display: flex;
}

.names{margin-right: 5px;}

.edit_button{
    width: 72px;
    padding: 0 20px 0 20px;
    margin: 28px 40px;
    border: 1px #38aef0 solid;
    display: flex;
    align-items: center;
}

.editor{
    text-decoration: none;
    font-size: 16px;
    color: #38aef0;
}

.chat_bar{
        height: calc(100vh - 190px);
        background-color: #fafafa;
}

.MessageBox{
    margin-bottom: 46px;
}

.messageZone{
    margin-top: 12px;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px); 
}

.content{
    color: #434a54;
    font-size: 14px;
}

.image{
    height: 300px;
}

.chatUser{
    display: flex;
    margin-bottom: 12px;
}

.nameLine{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.timeLine{
    color: #999999;
    font-size: 12px;
    margin-left: 10px;
}

.bottom_bar{
        height: 90px;
        background-color: #d2d2d2;
        display: flex;
        align-items: center;
        padding: 20px 50px 20px 40px;
}

.post_zone{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.type_Zone{
    display: flex;
    border: none;
    height: 50px;
    width: 100%;
    position: relative;
}

.textField{
    padding: 0 45px 0 15px;
    height: 50px;
    width: 100%;
}

.image_attachment{
    height: 50px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}


.Hidden{
    display: none;
}


.submit_btn{
    background-color: #38AEF0;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
}
